// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

//Colors

//__Muted
$dark_green: #73905d;
$aqua_marine: #7ac3bd;
$peach: #e5b070;
$burnt_red: #b87860;

//__Saturated
$bright_green: #75BB3E;
$dark_aquamarine:#00b0a2;
$dark_orange: #c2572f;
$seafoam: #017667;
$sidr_orange: rgba(194, 87, 47, .8);

//__Neutral
$std_black: #292929;
$black_overlay: rgba(4,4,4,.4);
$creme: #f3efea;
$offwhite: #f9f7f4;
$light_gray: #ccc;
$gray: #7f8084;
$menu_gray: #c9ccc8;



// Breakpoints
// Example Usage: @media($bp-smaller-than-tablet) { ... }
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-desktophd : "max-width: 1200px" !default;
$bp-smaller-than-desktop : "max-width: 1070px" !default;
$bp-smaller-than-tablet : "max-width: 750px" !default;
$bp-smaller-than-mobile : "max-width: 480px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;

// Colors
$red: #a42126 !default;
$white: #FFFFFF !default;
$black: #000000 !default;


//Fonts
$proxima: "proxima-nova",sans-serif;


// Misc
//$global-radius: 4px !default;
