header{
	width:100%;
	position:absolute;
	z-index:100;
	padding-top:20px;

	.logo,
	.main-navigation{
		display:inline-block;
	}

	.logo{

	}
	.main-navigation{
		vertical-align:middle;
		ul{
			margin-top:-30px;
			li{
				display:inline-block;
				float:left;
				margin-right:2em;

				a{
					color:white;
					@include alt_gothic_reg;
					border-bottom:2px solid $white;
					font-size:2.8em;
				    padding-bottom: 5px;
				}
			}
		}
	}
}