//General

.cta{
	margin:10px 0;

	.cta-link{
		color:$white;
		padding-right:35px;
		background-image:url('img/arrow-icon.png');
		background-repeat:no-repeat;
		background-position:95% center;
		font-size:2em;
	    background-size: 9%;
		@include alt_gothic_reg;

		&:active,
		&:focus, 
		&:hover{
			background-image:url('img/arrow-icon_hover.png');
			opacity:.7;
		}
	}
	&.white{
		color:white;
	}

	//padding-left:15px;
	//background-image:
}

//Top banner for all pages
.banner{
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;

	display: flex;
	align-items: center;

	.overlay{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+0,2989d8+15,207cca+51,292929+100&0.5+0,0+15,0+51,0.5+100 */
		background: -moz-linear-gradient(top,  rgba(41,41,41,0.5) 0%, rgba(41,137,216,0) 15%, rgba(32,124,202,0) 51%, rgba(41,41,41,0.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(41,41,41,0.5) 0%,rgba(41,137,216,0) 15%,rgba(32,124,202,0) 51%,rgba(41,41,41,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(41,41,41,0.5) 0%,rgba(41,137,216,0) 15%,rgba(32,124,202,0) 51%,rgba(41,41,41,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80292929', endColorstr='#80292929',GradientType=0 ); /* IE6-9 */

		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		z-index: 0;
	}
	
	&.large{
		height:650px;
		// background-repeat:no-repeat;
		// background-size:cover;
		// background-position:center center;

		
		//justify-content: center;

		// background-color:black;
		// background-blend-mode:mulitply;
		// -webkit-background-blend-mode:multiply;
	}

	&.interior{
		height:400px;
		background-color:$black_overlay;
		background-blend-mode:mulitply;
		-webkit-background-blend-mode:multiply;

		.page-title{	
			margin-bottom:0;
		}
	}	

	.banner-content{
		// position:absolute;
		// bottom:0;
		align-self: flex-end;
		width:100%;
		position:relative;
		margin-bottom:2em;

		.text{
			//width:50%;
		}

		h1{
		line-height:.8; //Need this line height for grid headers/titles, as well.
		margin-bottom:.5em;
		text-transform:none;

			&.page-title{	
				margin-bottom:0;
			}
		}
		h2{
			color:$white;
			margin:0;
			padding:0;
			text-transform:none;
			//text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
			text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8);
		}

		.banner-cta{
			@include adelle-bold-ital;
		}
	}

	.wv-logo{
		text-align:right;
		margin-top:2em;
	}

}

//Homepage

.intro-statement{
	margin:6em 0;

	.intro-text{
		width:90%;
		margin:0 auto;
		color:$std_black;
		text-align: center;
		@include adelle-thin;
		text-transform:none;
		// @include adelle-thin;
		// font-size:3em;
	}
}

//--__--Homepage grid setup

.home-grid{
	//height:2000px !important;

	.primary{
		background-color:rgba(4,4,4,.5);
		background-blend-mode:multiply;
		.wrap{
			//display:table;
			width:100%;
			height:100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.content{
				// display:table-cell;
				// height:100%;
				// width:100%;
				// vertical-align: middle;
				h1{
					width: 65%;
				    line-height: .8;
				    text-align: center;
				    margin: 0 auto;
				    position:relative;
				}
			}
		}
	}

	.secondary{
		display: flex;
		align-items: center;
		padding:1em;
		background-color:rgba(4,4,4,.5);
		background-blend-mode:multiply;

		.content{
			align-self: flex-end;
		}
	}

	.event{

		
			background-color:$aqua_marine;
		
		&.second{
			background-color:$seafoam;
		}
		&.third{
			background-color:$burnt_red;
		}
	}

	.weather{
		background-color:$peach;
	}

	.instagram{
		.instagram-icon{
			position:absolute;
			bottom:10px;
			left:10px;
			i{
				color:white;
			}
		}
	}

	.post-parent{
		font-size:2em;
		@include adelle_thin;
		letter-spacing: .0025em;
		color:$white;
		margin-bottom:15px;
	}

	.post-title{
		font-size:3em;
		text-transform:uppercase;
	    line-height: .8;
		letter-spacing: .0015em;
		color:$white;
		@include alt_gothic_reg;
	}

}

.overlay{
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:rgba(4,4,4,.2);
}

.grid-item{
	width:8.66667%;
	float: left;
	position:relative;

	

	p{
		position:absolute;
		bottom:5px;
		left:5px;
	}
}

// @media ($bp-smaller-than-tablet){
// 	.grid-item{
// 		width:50%;
// 	}
// }


.grid-item-width2{
	width:16.66667%;
	//padding-bottom:12.66667%;

	&.nest{
		//padding-bottom:0;
		// @media ($bp-smaller-than-tablet) {
		// 	width:33.33333%
		// }
		.grid-item-width2{
			//height:200px;
		}

		.nested{
			position:relative;
		}

		// div{
		// 	width:100%;
		// 	height:200px;
		// 	position:relative;
		// }
	}
}

.grid-item-width3{
	width:25%;
	//padding-bottom:25%;
}

.grid-item-width4{
	width:33.33333%;
	//padding-bottom:33.33333%;
}

.grid-item-width5{
	width:41.66667%;
}

.grid-item-width6{
	width:50%;
	//padding-bottom:25%;

	&.nest{
		.nested{
			width:33.33333%;
			float:left;
			position:relative;

			// @media($bp-smaller-than-tablet){
			// 	width:100%;
			// }
		}
	}
}

.grid-item-width7{
	width:58.33333%;
}

@media screen and (max-width: 768px) {
  .grid-item{width: 50%}
}

@media screen and (max-width: 600px) {
  .grid-item{width: 100%}
}

.hg{
	background-color:red;
	//border:1px solid $std_black;

	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;

}



.hg.columns-2{
	padding-bottom:grid-column-width(2);;
}

.hg.columns-3{
	padding-bottom:grid-column-width(3);;
}

.hg.columns-4{
	padding-bottom: grid-column-width(4);
}
.hg.columns-5{
	padding-bottom: grid-column-width(5);
}
.hg.columns-6{
	padding-bottom: grid-column-width(6);
}

.hg.columns-8{
	padding-bottom: grid-column-width(8);
}

.hg.text-only{

}
.hg.event{

}



//Landing Pages

//__Landing page grid



//Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}